* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

.app>* {
    padding-inline: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .3);
}

img.logo {
    width: 80px;
}

.nav-items ul {
    display: flex;
    gap: 20px;
    margin-block: 10px;
}

.nav-items ul li {
    padding: 15px 10px;
    cursor: pointer;
    position: relative;
    letter-spacing: 1px;
    font-weight: 500;
}

.nav-items ul li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #FEB400;
    transition: 0.2s ease-in-out;
    transform: scale(0)
}

.nav-items ul li:hover::after {
    transform: unset;
}

.restaurants-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 60px;

}

@media (max-width: 1440px) {
    .restaurants-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 730px) {
    .restaurants-container {
        grid-template-columns: 1fr
    }
}

/* .restaurant-card {
    aspect-ratio: 14 / 16;
    border-radius: 10px;
    flex-direction: column;
    max-height: 375px;
    margin-top: 20px;
    padding: 10px 15px;
    transition: all .2s ease-in-out;
    display: flex;
    box-shadow: 0 2px 4px #0e1e251f, 0 2px 16px #0e1e2552;
    margin-inline: auto;
} */

/* .restaurant-card:hover {
    box-shadow: rgba(14, 30, 37, 0.24) 0px 2px 6px 0px, rgba(14, 30, 37, 0.42) 0px 2px 20px 0px;
} */

.restaurant-details {
    margin-top: auto;
}

.search-container {
    font-size: 32px;
    font-weight: 500;
    font-style: italic;
    padding-block: 60px 20px;
}
